<div class="main">
  <div class="option">
    <span>Текст вопроса</span>
    <textarea class="input wide" rows="7" spellcheck="true"></textarea>
  </div>

  <div class="option">
    <span>Ссылка на изображение</span>
    <input class="input" type="text" spellcheck="false" />
  </div>

  <div class="option">
    <span>Весовой коэффицитент</span>
    <input class="input" type="text" spellcheck="false" pattern="^[ 0-9]+$" />
  </div>

  <div class="answers">
    <span>Ответы</span>
    <div class="list">


      <div class="answer">
        <input class="input" type="checkbox" #answer1 id="answer1">
        <label class="activator" for="answer1">
          <div class="fakebox">
            <ion-icon class="check" name="checkmark-outline"></ion-icon>
          </div>
        </label>
        <div class="before"></div>
        <div class="param">
          <span>Текст ответа</span>
          <textarea class="input wide" rows="3" spellcheck="true"></textarea>
        </div>
        <div class="param">
          <span>Ссылка на изображение</span>
          <input class="input" type="text" spellcheck="false" />
        </div>
      </div>

      <div class="answer">
        <input class="input" type="checkbox" #answer1 id="answer1">
        <label class="activator" for="answer1">
          <div class="fakebox">
            <ion-icon class="check" name="checkmark-outline"></ion-icon>
          </div>
        </label>
        <div class="before"></div>
        <div class="param">
          <span>Текст ответа</span>
          <textarea class="input wide" rows="3" spellcheck="true"></textarea>
        </div>
        <div class="param">
          <span>Ссылка на изображение</span>
          <input class="input" type="text" spellcheck="false" />
        </div>
      </div>

      <div class="answer">
        <input class="input" type="checkbox" #answer1 id="answer1">
        <label class="activator" for="answer1">
          <div class="fakebox">
            <ion-icon class="check" name="checkmark-outline"></ion-icon>
          </div>
        </label>
        <div class="before"></div>
        <div class="param">
          <span>Текст ответа</span>
          <textarea class="input wide" rows="3" spellcheck="true"></textarea>
        </div>
        <div class="param">
          <span>Ссылка на изображение</span>
          <input class="input" type="text" spellcheck="false" />
        </div>
      </div>

    </div>
  </div>
</div>
