.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 48px;
  background-color: #30333d;
  overflow: hidden;
  z-index: 1000;
}

.left-menu:hover {
  width: 215px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

